mat-form-field,
textarea {
    width: 100%;
}
:host {
    display: block;
    margin-top: 1em;
}

mat-spinner {
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}

.imagePreview {
    height: 5rem;
    margin: 1rem 0;
}

.imagePreview img {
    height: 100%;
}
